.center{
    text-align: center;
}
body {
    background: #f2f3c8;
    /* background:#b3dfc3	 */
}    
.topic{
    color: rgb(49, 60, 95);
    /* color: 	#689479 */
}
.miniText{
    font-style: oblique;
    text-align: right;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered-left{
    position: absolute;
    top: 90px;
    left: 230px;
}

.centered-right{
    position: absolute;
    bottom: 90px;
    right: 230px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.absoluted{
    font-size: 84px;
}
.details{
    font-style: oblique;
    text-align: left;
    font-size: 32px;
}
.green-box{
    width: 30px;
    height: 30px;
    margin: auto;
    border : 3px solid #96FF72;
    background-color: #96FF72;
}
.red-box{
    width: 30px;
    height: 30px;
    margin: auto;
    border : 3px solid #FF6D6C;
    background-color: #FF6D6C;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
      display:none;
    }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }